body{
    background:-moz-linear-gradient(to left,rgb(125, 125, 189),#3d3f9e;
    collor:yellow;
     text-align:center;
}
h2{
    background-color: azure;
    color:blue;
}
#img-turma{
width:50%;
}


























}